*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: rgb(35, 35, 35);
	color: white;
	font-family: Netflix Sans, Segoe UI, Roboto, Ubuntu, sans-serif;
	font-size: 20px;
}

.top {
	display: flex;
	justify-content: space-between;
	padding: 0.8em 7em;
}
.top p{
	color: #e50914;
	font-size: 2.3em;
	font-weight: bold;
}
.top button{
	background-color: #e50914;
	border: none;
  	color: white;
  	text-align: center;
  	margin: 10px 20px;
  	cursor: pointer;
  	border-radius: 0.25em;
    font-size: 0.875rem;
    font-weight: bold;
    min-height: 2rem;
    padding: 0.25rem 1rem;
}

.box1 {
	padding-top:11em;
	text-align: center;
	font-family:  Segoe UI; 
}
.box1 h1{
	font-size: 52px;
	font-weight:bolder;
}
.box1 h3{
	padding: 30px 0;
	font-weight: bold;
}
.box1 p{
	padding: 10px 0 20px 0;
	font-weight: bold;
}
.box1 input[type=email] {
	width: 400px;
	height: 54px;
	font-size: 16px;
	left: 40px;
    border: 1px solid #8c8c8c;
   padding:0 10px;
   font-style: normal;
   background-color: rgb(22,20,20);
   color: white;
}
.box1 input[type=button] {
	padding: 11px 0 17px 0;
	color: white;
	background-color: rgb(244,6,18);
	font-size: larger;
	border: none;
	width: 160px;
	border-radius: 6px;
	cursor: pointer;
}
header {
	padding-bottom: 8em;
	border-bottom: none; 
	background-image: linear-gradient(rgba(0,0,0,0.8) 0,transparent 60%,transparent 100%,rgba(0,0,0,0.8)), url('images/1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.box2{
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 3em;
	margin: 0.5em 0;
	background-color: black;
	height: 25em;
	font-family:  Segoe UI; 
}

.box2 h3{
	padding-top: 1em;
	font-size: 3em; 
}
.box2 p{
	padding: 1em;
	font-size: 1.5em;
	text-align: left;
}

.box3 {
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 3em;
	margin: 0.5em 0;
	background-color: black;
	height: 25em;
	font-family:  Segoe UI;
}
.box3 h3{
	padding-top: 1.2em;
	font-size: 2.5em; 
	text-align: left;

}
.box3 p{
	padding: 1.2em;
	font-size: 1.5em;
	text-align: left;
}

.box4{
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 3em;
	margin: 0.5em 0;
	background-color: black;
	height: 25em;
	font-family:  Segoe UI;

}
.box4 h3{
	padding-top: 1.2em;
	font-size: 3.5em; 
	
}
.box4 p{
	padding: 4em;
	font-size: 1.5em;
	text-align: left;
}

.box5{
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 3em;
	margin: 0.5em 0;
	background-color: black;
	height: 25em;
	font-family:  Segoe UI;
}
.box5 h3{
	padding-top: 1.2em;
	font-size: 2.5em; 
	text-align: left;
}
.box5 p{
	padding: 1.2em;
	font-size: 1.5em;
	text-align: left;
}

.box6{
	text-align: center;
	background-color: black;
	font-family:  Segoe UI;
	padding: 3em;
	margin: 0.5em 0;
}
.box6 h3{
	font-size: 2.5em;
	padding-bottom: 0.5em; 
}
.box6 summary{
	padding: 1em;
	background-color: #484848;
	text-align: left;
	width: 900px;
	margin: 10px 0 0 180px;
	line-height: 60px;
	cursor: pointer;
}
.box6 p{
	padding: 2em;
	background-color: #484848;
	text-align: left;
	margin-top: 1px;
	width: 900px;
	margin-left: 180px;
}
.box6 h5{
	padding: 3em 1em 1em 1em;
	font-size: 1em;
}
.box6 input[type=email] {
	width: 400px;
	height: 54px;
	font-size: 16px;
	left: 40px;
    border: 1px solid #8c8c8c;
   padding:0 10px;
   font-style: normal;
   background-color: rgb(22,20,20);
   color: white;
}
.box6 input[type=button] {
	padding: 11px 0 17px 0;
	color: white;
	background-color: rgb(244,6,18);
	font-size: larger;
	border: none;
	width: 160px;
	border-radius: 6px;
	cursor: pointer;
}

.boxf{
	margin-top: 0.5em;
	padding: 4em;
	font-weight: 400px;
	font-size: 0.8em;
	color: white;
	font-style: normal;
	background-color: black;
}
.boxf p{
	margin: 1em;
	margin-left: 6em;
	cursor: pointer;
}
.boxf div{
	display: flex;
	justify-content: space-around;
	padding: 2em;
}
.boxf li{
	list-style-type: none;
	padding: 0.5em;
	cursor: pointer;
}
.boxf select{
	
	color: white;
    line-height: 1.25rem;
    padding: 0.375rem 2.25rem;
    min-height: 16px;
    background: transparent;
    margin-left: 6em;
	cursor: pointer;
}

